eureka:
    instance:
        instance-id: ${spring.application.name}:${random.uuid}
server:
    port: ${PORT:${SERVER_PORT:0}}
spring:
    application:
        name: auth-service
    datasource:
        driver-class-name: org.postgresql.Driver
        password: postgres
        url: jdbc:postgresql://localhost:5432/jwt_security
        username: postgres
    jpa:
        database: postgresql
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: create-drop
        properties:
            hibernate:
                format_sql: true
        show-sql: true
